.arbitragePanel {
    color: white;
    padding: 0px 5px 2px 5px;
    margin-bottom: 15px;
    padding: 5px;
}
.center{
    text-align: center;
}
.subTitle{
    text-align: center;
    margin-top: 25px;
}