body {
    background-color: #2E3543;
    color: white;
}
.left{
    float: left;
}
.right{
    float: right;
}
.darkContainer {
    background-color: #2E3543;
}
.darkerContainer {
    background-color: #272D3A;
}
.darkestContainer {
    background-color: #1f242e;
}
.fadedText {
    color: #9d9d9d;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.m-r-30{
    margin-right: 30px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-t-10{
    margin-top: 10px;
}
.customModal {
    height: 100%;
    width: 100%;
    background-color: #2E3543;
    padding: 15px;
    color: black;
}
.customModal label{
    color: white;
}
.darkButton {
    background-color: #262c37;
    border: none;
}