#newBotButton {
    margin-right: 15px;
    text-align: center;
    width: calc(25% - 5px);
    padding: 15px;
    display: inline-block;
    height: 200px;
    line-height: 170px;
    vertical-align: top;
    font-size: 24px;
    color: white;
}
#newBotButton:hover{
    cursor: pointer;
    background-color: #1f242e;
    text-decoration: none;
}